# Custom variables
core:
  project_name: "{{ core.smtp_server | default('rhmap-core') }}"
  schedule_to_key: "{{ core.schedule_to_key | default('') }}"
  schedule_to_value: "{{ core.schedule_to_value | default('') }}"
  mongo_pvc_size: "{{ core.mongo_pvc_size | default('50Gi') }}"
  mysql_pvc_size: "{{ core.mysql_pvc_size | default('5Gi') }}"
  scm_pvc_size: "{{ core.scm_pvc_size | default('25Gi') }}"

monitoring:
  smtp_server: "{{ monitoring.smtp_server | default('localhost') }}"
  smtp_username: "{{ monitoring.smtp_username | default('username') }}"
  smtp_password: "{{ monitoring.smtp_password | default('password') }}"
  smtp_from_address: "{{ monitoring.smtp_from_address | default('nagios@example.com') }}"
  rhmap_admin_email: "{{ monitoring.rhmap_admin_email | default('root@localhost') }}"

frontend:
  smtp_server: "{{ frontend.smtp_server | default('localhost') }}"
  smtp_username: "{{ frontend.smtp_username | default('username') }}"
  smtp_password: "{{ frontend.smtp_password | default('password') }}"
  smtp_port: "{{ frontend.smtp_port | default('25') }}"
  smtp_auth: "{{ frontend.smtp_auth | default('false') }}"
  smtp_tls: "{{ frontend.smtp_tls | default('false') }}"
  email_replyto: "{{ frontend.email_replyto | default('noreply@localhost') }}"
  git_external_protocol: "{{ frontend.git_external_protocol | default('https') }}"
  builder_android_service_host: "{{ frontend.builder_android_service_host | default('https://androidbuild.feedhenry.com') }}"
  builder_ios_service_host: "{{ frontend.builder_ios_service_host | default('https://iosbuild.feedhenry.com') }}"