[Nodes:children]
master
core
mbaas

[Nodes:vars]
skip_tls={{ skip_tls }}

ansible_ssh_user={{ ansible_ssh_user }}
ansible_sudo={{ ansible_sudo }}

# Valid targets enterprise or dedicated
target={{ target }}

# Cluster hostanme
cluster_hostname={{ cluster_hostname }}

# Customer subdomain name
domain_name={{ domain_name }}

# The address and port of the OpenShift API server
login_url={{ login_url }}

# OpenShift Credentials
oc_user={{ oc_user }}
oc_password={{ oc_password }}

kubeconfig={{ kubeconfig }}

# Add values here if a HTTP proxy server is to be used
proxy_host={{ proxy_host }}
proxy_port={{ proxy_port }}
proxy_user={{ proxy_username }}
proxy_pass={{ proxy_password }}

# Optional (default value is 'http'), uncomment to change protocol to https - buildfarm only
proxy_protocol={{ proxy_protocol }}

# For proxy_url the syntax should be: http://<proxy-host>:<proxy-port> or http://<proxy_user>:<proxy_pass>@<proxy-host>:<proxy-port>
proxy_url={{ proxy_url }}

# URL to be checked to test outbound HTTP connection. Must be whitelisted if using a HTTP Proxy server
url_to_check={{ url_to_check }}

#### Gluster config - Set if using Gluster FS for storage
gluster_storage={{ gluster_storage }}

# Custom variables
monitoring= {{ monitoring }}
frontend= {{ frontend }}

[master]
{{ master }}

[mbaas]
{{ mbaas }}

[core]
{{ core }}
